body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.aromaAttr { 
  background-color: aquamarine;   width: flex;
  font-family: 'Times New Roman', Times, serif; 
} 

.head {
  font-style: italic;
  color: crimson;
  font-family: 'Times New Roman', Times, serif;
}